.grid {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-image: url('../img/alien.png');
    border-radius: 10px;
}

.shooter {
    background-image: url('../img/ship.png');
    border-radius: 5px;
}

.laser {
    background-image: url('../img/bullet.png');
}

.boom {
    background-image: url('../img/alien-dead.png');
}

#hud {
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;
}